useDynLib(sparseWeightBasedPCA, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(allCommonDistinctive)
export(mmscaModelSelection)
export(mmscaHyperCubeSelection)
export(CVforPCAwithSparseWeights)
export(BICforPCAwithSparseWeights)
export(ISforPCAwithSparseWeights)
export(makeDat)
export(sparsify)
export(makeVariance)
